p{
    white-space:nowrap;
}
canvas {
    height: 175px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.product-image {
    position: absolute;
    width: 300px;
    height: 400px;
    left: -58px;
    top: 113px;
    border: 1px solid #ddd !important;
}
.avartar-container {
    top: -40px !important;
    left: 0;
    position: relative;
    padding-right: 36px;
    /* background-color: var(--white-color); */
}