@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     @using project.Models
    @using System;
    @model Account
    Layout = "_layout";
        <link rel="stylesheet" href="~/asserts/css/changepass.css">
    <link rel="stylesheet" href="~/asserts/css/profile.css">
    <script src="~/asserts/js/form.js"></script>
}
            <div class="grid__row main-profile-category">
                <div class="grid__column-2">
                    <div class="profile">
                        <div class="profile__heading">
                            <div class="profile__heading profile__heading-avatar">
                                <img src="https://cf.shopee.vn/file/e4b8614be265b210727bdef25190db23_tn" alt="avatar">
                            </div>
                            <div class="profile__heading profile__heading-content">
                                    <div class="profile__heading profile__heading-content profile__heading-content-acount">
                                        ${sessionScope.cus.name}
                                    </div>
                                    <div class="profile__heading profile__heading-content profile__heading-content-title">
                                        <i class="fa-solid fa-pen profile__heading-content-fix profile__heading-content-fix-icon"></i>
                                        <a class=" profile__heading profile__heading-content profile__heading-content-fix">
                                            sửa hồ sơ
                                        </a>
                                    </div>
                            </div>
                        </div>
                        
                        <ul class="profile-list">
                            <h class="profile__heading-item"><i class="fa-solid fa-user profile__heading-item-icon "></i> 
                                Tài khoản của tôi</h>
                            <!-- <li class="profile-item profile-item">
                                <a href="#" class="profile-item__link profile-item__link-main">Tài khoản của tôi</a>
                            </li> -->
                            <li class="profile-item ">
                                    <a href="/user/profile" class="profile-item__link">Hồ Sơ</a>
                            </li>
                            <li class="profile-item ">
                                <a href="address.jsp" class="profile-item__link">Địa chỉ</a>
                            </li>
                            <li class="profile-item profile-item--active">
                                <a href="/user/changepassword" class="profile-item__link">Đổi mật khẩu</a>
                            </li>
                            <div class="profile-item__link-group">
                                <img src="https://cf.shopee.vn/file/f0049e9df4e536bc3e7f140d071e9078" alt="" class="profile-item profile-item-img">
                                <li class="profile-item">
                                    <a href="/user/myorder" class="profile-item__link">Đơn mua</a>
                                </li>
                            </div>
                            
                        </ul>
                    </div>
                </div>
           
                    <!-- /* Home Information  */ -->
                <div class="grid__column-7" style="background-color: #fff; box-shadow: 0 0 2px #ccc; position: relative ; height:500px">
                    <div class="profile__form">
                        <!-- heading form-->
                        <div class="profile__form--heading">
                            <div class="profile__form--heading profile__form--heading-title">
                                <h1 class="profile__form--heading profile__form--heading-title-content">
                                   Đổi mật khẩu
                                </h1>
                            </div>
                            <div class="profile__form--heading profile__form--heading-title-description">Quản lý thông tin hồ sơ để bảo mật tài khoản</div>
 
                        </div>
                        <!--Bodyform-->
                      <form action="/user/ChangePass" method="post" style="width: 100%">  
                        <div class=" main-profile-form grid__column-7">
                            <div class="body-base columns"></div>
                            <div class="form--body">
                                </div>
                    @if (ViewBag.err != null)
                    {
                        <p style="color:red;font-size: 1.3rem">
                              @ViewBag.err  
                        </p>
                    }
                                <div class="form-item">
                                    <div class="form-item  form-item__shopname-label"><p>Mật khẩu hiện tại </p></div>
                                    <div class="form-item  form-item__shopname-output">
                                            <input required type="password" id="old_pass" name="curPass" placeholder="Nhập mật khẩu"  maxlength="255" class="form-item__shopname-output form-item__shopname-output--input">
                                        <!-- <button  class=" form-item  form-item__phone-output form-item__phone-output--btn"></button> -->
                                    </div>
                                </div>
                                <div class="form-item">
                                    <div class="form-item  form-item__shopname-label" id="password"><p>Mật khẩu mới </p></div>
                                    
                                    <div class="form-item  form-item__shopname-output">
                                            <input required type="password" id="new_pass"  name="newPass" oninput="Validate_passform()"
                                                placeholder="Nhập mật khẩu mới" maxlength="255" 
                                            class="form-item__shopname-output form-item__shopname-output--input form-control">
                                        <!-- <button  class=" form-item  form-item__phone-output form-item__phone-output--btn"></button> -->
                                        <span id="err-newpass" class="err-pass">Mật khẩu mới phải khác mật khẩu cũ</span>
                                    </div>
                                </div>
                                <div class="form-item">
                                    <div class="form-item  form-item__shopname-label"><p>Nhập lại mật khẩu </p></div>
                                    <div class="form-item  form-item__shopname-output">
                                        <input required type="password" id="re_new_pass" name="reNewPass"  placeholder="Nhập lại mật khẩu"  maxlength="255" oninput="Validate_passform()" class="form-item__shopname-output form-item__shopname-output--input form-control">
                                        <!-- <button  class=" form-item  form-item__phone-output form-item__phone-output--btn"></button> -->
                                        <span id="err-re-newpass" class="err-pass err-re-pass">mật khẩu nhập lại không đúng với mật khẩu mới</span>
                                    </div>
                                </div>
                       
                                <div class="form-submit">
                                    <div class="auth-form__control form-submit-control">
                                        <button required type="submit" id="change-btn"
                                            class="btn__small btn__small--primary form-submit-btn">Lưu</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                   
                </div>

